body {
  height: 100%;
  background: rgb(233, 198, 143);
  background: linear-gradient(0deg, rgba(233, 198, 143, 1) 0%, rgba(249, 249, 249, 1) 100%);
  /* background-image: url("light-paper-fibers.png"); */

}

p{
  font-family: rockwell, sans-serif;
font-weight: 300;
font-style: normal;
}

.below-the-fold {
  margin-left: 12vw;
  margin-right: 12vw;
}

.below-the-fold hr {
  position: sticky;
  top: 5vh;
  z-index: 2;
}

.texture {
  background-image: url(light-paper-fibers.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  position: sticky;
  top: 0;
  margin-top: -100vh;
  z-index: -1;
}

.texture * {
  position: static;
}

.menu {
  width: 10vw;
  height: 89vh;
  margin-top: 75vh;
  position: sticky;
  top: 11vh;
  float: left;
  border-right: 1px solid black;
  margin-right: 10px;

}

.menu a {
  display: block;
  padding: 12px;
  margin-top: 10px;
}

.about {
  width: 10vw;
  height: 89vh;
  margin-top: 75vh;
  position: sticky;
  top: 11vh;
  float: right;
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

.about a {
  display: block;
  padding: 12px;
}

.about p {
  font-size: 1.5rem;
}

.header {
  margin-top: -5vh;
  z-index: 1;
  /* display: inline; */
}

.titlecase {
  font-family: adorn-smooth-serif, serif;
font-weight: 400;
font-style: normal;
  text-align: center;
  display: inline;
}


.dropcap {
  font-family: baroque-text-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* letter-spacing: -15px; */
  display: inline;
}

.logo-word{
  display: inline-block;
}

.header hr {
  padding-bottom: .3vh;
}

.header p {
  /* float: right; */
  text-align: center;
}

#header {
  background-color: rgba(249, 249, 249, 1);
  box-shadow: 0px 10px 5px rgba(249, 249, 249, 1);
  padding: 50px 10px;
  /* Some padding */
  color: black;
  text-align: center;
  /* Centered text */
  font-size: 90px;
  /* Big font size */
  font-weight: bold;
  position: fixed;
  /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  transition: 1s;
}

/* Add a transition effect (when scrolling - and font size is decreased) */
.section {
  margin-top: 0px;
  margin-left: 16vw;
  margin-right: 16vw;
}

.latest-year {
  margin-top: -70vh;
}

.section-header h1 {
  /* font-size: 20vw; */
}

.section-text {
  font-size: 1.3vw;
  margin-top: -30vh;
  padding-bottom: 10vh;
  /* margin-left: -100px; */
  text-align: center;
}

.section-year {
  font-family: baroque-text-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20vw;
  margin-top: -80vh;
  margin-left: 40px;
}

.section-watermark {
  font-family: baroque-text-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: -18vw;
  margin-right: -16vw;
  line-height: 10vh;
  clear: both;
  font-size: 40vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0);
}

.section-images{
  /* top: 15vh; */
}

.section-images img{
  display: inline;
  width: 14vw;
  height: 14vw;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.section-images img:hover{
  filter: none;
}

.dropdown * {
  display: none;
}

a {
  font-family: baroque-text-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color:black;
}
a:visited{
  color: black;
}
a:active{
  color:black;
}

@media only screen and (max-width: 480px) {
  .menu {
    display: none;
  }

  .about {
    display: none;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}
}
